{{#if this.isScanning}}
  <button
    type='button'
    class='btn btn-primary btn-sm my-2'
    {{on 'click' this.onScanToggle}}
  >
    Cancel
  </button>
  <CodeScanner
    @device={{this.device.id}}
    @onScanSuccess={{this.onScanSuccess}}
    @onScanError={{this.onScanError}}
    @onDevicesFound={{this.onDevicesFound}}
    @onDevicesError={{this.onDevicesError}}
  />
{{else}}
  <button
    type='button'
    class='btn btn-primary btn-sm my-2'
    {{on 'click' this.onScanToggle}}
  >
    New scan
  </button>
{{/if}}

{{#if this.result.length}}
  <p class='my-1'> ✅ </p>
  <div>Result: {{this.result}}</div>
{{/if}}