<CodeScanner
  @device={{this.device.id}}
  @onScanSuccess={{this.onScanSuccess}}
  @onScanError={{this.onScanError}}
  @onDevicesFound={{this.onDevicesFound}}
  @onDevicesError={{this.onDevicesError}}
/>

<button type='button' class='btn btn-primary' {{on 'click' this.resetResult}}>
  Reset
</button>
<p>Result: {{this.result}}</p>